dist: trusty

os:
- linux

language: go

go:
- "1.12"
- tip

env:
- GO111MODULE=on

install:
- go get github.com/mattn/goveralls
- go get github.com/lawrencewoodman/roveralls

script:
- roveralls
- goveralls -coverprofile=roveralls.coverprofile -service=travis-ci
